/.idea
/build
/001-basicViewer/cmake-build-debug/
/002-basicViewerWithViewMode/cmake-build-debug/
/003-basicViewerRightClickMenu/cmake-build-debug/
/004-basicViewerWithClipPlanes/cmake-build-debug/
/005-redirectQDEBUG/cmake-build-debug/
/006-includeQICONS/cmake-build-debug/
/007-includeSTEPFiles/cmake-build-debug/
/008-InteractiveActionsOnStepFile/cmake-build-debug/
/009-3DViewerActionsOnStepFile/cmake-build-debug/
/010-stepReaderIterator/cmake-build-debug/
/010-stepReaderIterator/ubuntu18/
/010-stepReaderIterator/ubuntu20/
/011-mouseInteractions/cmake-build-debug/
/011-mouseInteractions/ubuntu18/
/011-mouseInteractions/ubuntu20/
