/.idea
/build
/cmake-build-debug/
/001-basicViewer/cmake-build-debug/
/002-basicViewerWithViewMode/cmake-build-debug/
/003-basicViewerRightClickMenu/cmake-build-debug/
/004-basicViewerWithClipPlanes/cmake-build-debug/
/005-redirectQDEBUG/cmake-build-debug/
/006-includeQICONS/cmake-build-debug/
/007-includeSTEPFiles/cmake-build-debug/
/008-InteractiveActionsOnStepFile/cmake-build-debug/
/009-3DViewerActionsOnStepFile/cmake-build-debug/
/010-stepReaderIterator/cmake-build-debug/
/010-stepReaderIterator/ubuntu18/
/010-stepReaderIterator/ubuntu20/
/011-mouseInteractions/cmake-build-debug/
/011-mouseInteractions/ubuntu18/
/011-mouseInteractions/ubuntu20/
/013-STEPprogressIndicator/cmake-build-debug/
/014-STEPviewerTypes/cmake-build-debug/
/015-createNew3DForm/cmake-build-debug/
/016-GetChild_Display/cmake-build-debug/
/017-mergeShapes3D/cmake-build-debug/
/018-mouseEvents/cmake-build-debug/

