<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MRADSIM</Name>
    <Version>1.0.0</Version>
    <Title>Matter Radiation Interaction Simulator</Title>
    <Publisher>IRADETS</Publisher>
    <TargetDir>@HomeDir@/MRADSIM</TargetDir>
    <Logo>mradsim.svg</Logo>
    <InstallerWindowIcon>mradsim.png</InstallerWindowIcon>
    <ControlScript>controlScript.qs</ControlScript>
</Installer>
